 @charset "utf-8";   
.aui-mask {    position: fixed;    width: 100%;    height: 100%;    top: 0;    left: 0;    background: rgba(0, 0, 0, 0.6);    z-index: 11;}
.aui-dialog {    position: fixed;	z-index: 12;	width: 85%;	top: 40%;	left: 50%;	-webkit-transform: translate(-50%, -50%);	      transform: translate(-50%, -50%);	background-color: #FAFAFC;
	text-align: center;	border-radius: 3px;}
.aui-hidden {    display: none !important;}
.aui-toast {	background: rgba(0, 0, 0, 0.6);	text-align: center;	border-radius: 5px;	color: #ffffff;	position: fixed;	z-index: 30000;	top: 180px;	left: 50%;	width: 7.5em;	min-height: 7.5em;	margin-left: -3.75em;
}
.aui-toast .aui-iconfont {	display: block;	font-size: 55px;}
.aui-toast-content {  margin: 0 0 15px;}
.aui-toast .aui-toast-loading {
    background-color: #fff;
    border-radius: 100%;
    margin: 15px 0;
    -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    height: 45px;
    width: 45px;
    background: transparent !important;
    display: inline-block;
    -webkit-animation: rotate 1s 0s linear infinite;
        animation: rotate 1s 0s linear infinite;
}
.aui-toast-content {
  margin: 0 0 15px;
}
.aui-text-left {
  text-align: left !important;
}
.aui-dialog-footer {
    position: relative;
    font-size: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.aui-dialog-btn {
	position: relative;
    text-align: center;
    padding: 15px 0;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.aui-dialog-btn:after {
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
}
.aui-dialog-btn:first-child:after {
    border-left: 0;
}
.aui-text-danger {
	color: #e74c3c !important;
}
.aui-text-info {
	color: #3498db !important;
}
.aui-radio {
	width: 26px;
	height: 26px;
	position: relative;
	margin: 8px 10px;
	background: #ffffff;
	border: solid 1px #dddddd;
	border-radius: 50%;
	display: table;
	float: left;
	-webkit-appearance: none;
			transition: background-color ease 0.1s;
}
.aui-radio:after {
	pointer-events: none;
}
.aui-radio-name {
	height: 26px;
	line-height: 26px;
	margin: 8px 10px 8px -5px;
	float: left;
}
.aui-radio:checked,
.aui-radio.aui-checked {
	background-color: #1abc9c;
	border: solid 1px #1abc9c;
	text-align: center;
}
.aui-radio:checked:before,
.aui-radio.aui-checked:before {
	position: absolute;
	left: 5px;
	top: 1px;
	font-size: 16px;
	display: table;
	font-family: "auiicon";
	content: "\e645";
	color: #ffffff;
}
.aui-radio:checked:after,
.aui-radio.aui-checked:after {
	position: absolute;
	left: 5px;
	top: 1px;
	font-size: 16px;
	display: table;
	font-family: "auiicon";
	content: "\e645";
	color: #ffffff;
	pointer-events: none;
}
@font-face {
	font-family: "auiicon";
	src: url('aui_iconfont.ttf') format('truetype');
}
.aui-iconfont {
	position: relative;
	font-family:"auiicon" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.aui-icon-check:before { content: "\e645"; }
 /*tab切换类*/
.aui-tab {
	width: 100%;
	overflow: hidden;
}
.aui-tab-nav {
	width: 100%;
	display: box;
	display: -webkit-box;
	box-sizing: border-box;
	font-size: 16px;
	height: 45px;
	background-color: #fff;
	overflow: hidden;
}
.aui-tab-nav li {
	height: 45px;
	line-height: 45px;
	box-flex: 1;
	-webkit-box-flex: 1;
	box-sizing: border-box;
	text-align: center;
	color: #666;
	border-bottom: 2px solid transparent;
	width: 100%;
}
.aui-tab-nav li.active {
	color: #1abc9c;
	border-bottom: 2px #1abc9c solid;
	/*-webkit-animation: fadeIn .5s ease both;
            animation: fadeIn .5s ease both;*/
}
.aui-tab-nav.aui-tab-border {
	background-color: transparent;
	border: 1px solid;
	border-color: #1abc9c;
	border-radius: 3px;
}
.aui-tab-nav.aui-tab-border li {
	/*width: 1%;*/
	overflow: hidden;
	line-height: 43px;
	color: #1abc9c;
	background-color: #ffffff;
	border-color: #1abc9c;
	border-left: 1px solid;
}
.aui-tab-nav.aui-tab-border li:first-child {
	border-left: 0px;
}
.aui-tab-nav.aui-tab-border li.active {
	background-color: #1abc9c;
	color: #fff;
	/*-webkit-animation: fadeIn .5s ease both;
            animation: fadeIn .5s ease both;*/
}
.aui-tab-success .aui-tab-nav li.active {
	color: #2ecc71;
	border-bottom: 2px #2ecc71 solid;
}
.aui-tab-danger .aui-tab-nav li.active {
	color: #e74c3c;
	border-bottom: 2px #e74c3c solid;
}
.aui-tab-warning .aui-tab-nav li.active {
	color: #f1c40f;
	border-bottom: 2px #f1c40f solid;
}
.aui-tab-info .aui-tab-nav li.active {
	color: #3498db;
	border-bottom: 2px #3498db solid;
}
.aui-tab-dark .aui-tab-nav li.active {
	color: #34495e;
	border-bottom: 2px #34495e solid;
}

.aui-tab-success .aui-tab-nav.aui-tab-border,
.aui-tab-success .aui-tab-border li {
	border-color: #2ecc71;
	color: #2ecc71;
}
.aui-tab-success .aui-tab-border li.active {
	background-color: #2ecc71;
	color: #fff;
}
.aui-tab-info .aui-tab-nav.aui-tab-border,
.aui-tab-info .aui-tab-border li {
	border-color: #3498db;
	color: #3498db;
}
.aui-tab-info .aui-tab-border li.active {
	background-color: #3498db;
	color: #fff;
}
.aui-tab-danger .aui-tab-nav.aui-tab-border,
.aui-tab-danger .aui-tab-border li {
	border-color: #e74c3c;
	color: #e74c3c;
}
.aui-tab-danger .aui-tab-border li.active {
	background-color: #e74c3c;
	color: #fff;
}
.aui-tab-warning .aui-tab-nav.aui-tab-border,
.aui-tab-warning .aui-tab-border li {
	border-color: #f1c40f;
	color: #f1c40f;
}
.aui-tab-warning .aui-tab-border li.active {
	background-color: #f1c40f;
	color: #fff;
}
.aui-tab-dark .aui-tab-nav.aui-tab-border,
.aui-tab-dark .aui-tab-border li {
	border-color: #34495e;
	color: #34495e;
}
.aui-tab-dark .aui-tab-border li.active {
	background-color: #34495e;
	color: #fff;
}