 @charset "utf-8";   
 header , .page_header{ height:45px; line-height:45px;  text-align:center;position:relative;}
.page_header { background:#f9f9f9; border-bottom:#cbcbcb solid 1px;}
.page_name { color:#7a7a7a; font-size:16px; width:200px; margin:0 auto;}
.nav_back {background:url(../images/sicon.png) no-repeat; background-size:160px 30px; cursor:pointer;height:25px; width:30px; position: absolute; left:10px;top:10px;background-position:0 -5px;}
.edit_info_list { background:#fff;}
.edit_info_list ul li{ height:50px; line-height:50px;border-bottom:1px solid #ebeced; margin:0 5px; font-size:14px;padding-left:8px;}
.edit_input { height:50px; line-height:50px; text-align:right; border:0; position:absolute; background:transparent; font-size:15px; text-align:right; right:15px;width:75%;}
.info_face { height:90px; line-height:90px;}
.edit_info_list ul li img { height:80px; line-height:80px; float:right; border-radius: 50%; margin-top:5px;}
.edit_info_list ul li em { float:right;width:50px; height:45px; line-height:45px; display:block; color:#b2b2b2;background:url(../images/user.png) no-repeat top left;background-size:40px 200px;background-position:0 -155px; float:right; margin-top:20px;}