 @charset "utf-8";  
 header , .page_header{ height:45px; line-height:45px;  text-align:center;position:relative;}
  .page_header { background:#f9f9f9; border-bottom:#cbcbcb solid 1px;}
  .page_name { color:#7a7a7a; font-size:16px; width:200px; margin:0 auto;}
.nav_back {background:url(../images/sicon.png) no-repeat; background-size:160px 30px; cursor:pointer;height:25px; width:30px; position: absolute; left:10px;top:10px;background-position:0 -5px;}
 header span {height:45px; width:60px; position:absolute; right:0; top:0;}
.index_page_name { color:#fff; font-size:16px; width:200px; margin:0 auto;}
  
 .page_banner img {display:block; width:100%; height:auto; margin:0 auto;}
 .page_tit { font-size:18px; line-height:28px; padding:10px;}
 .author_info { height:40px; padding:0 10px;}
 .author_info img { height:30px; line-height:30px; width:30px;border-radius:50%; float:left; margin-right:8px;}
 .author_info .user_name { height:30px; line-height:30px; display:block;float:left; color:#2578bf; width:86px; overflow:hidden;}
 .author_info .author_other {height:30px; line-height:30px; display:block;color:#b1b0b0; padding-right:10px;}
 .event_info { padding:10px;}
  .event_info_l ,.event_user_list ul li ,.page_comment_user ,.page_bottom_btn ,.form_group_btn ,.event_bottom{ height:52px; line-height:52px;}
 .event_info_icon { background:url("../images/info_icon.png") no-repeat; background-size:32px 150px; width:32px; height:32px; display:block; float:left;border-radius:50%; margin-bottom:10px; margin-top:10px;}
 .event_info_f { height:32px; float:left; text-align:center; width:45px;margin-bottom:10px; color:#2cb770;display:block;}
 .info_icon01 {background-position:0 0;}
.info_icon02 {background-position:0 -32px;}
.info_icon03 {background-position:0 -64px;}
.info_icon04 {background-position:0 -96px;}
.event_price { font-size:20px; color:#ff6633; float:left;}
.event_label { padding-top:12px;}
.event_label ul li { float:left; background:#f4f5f6; border:1px solid #e0dfdf;height:25px; line-height:21px; text-align:center; padding:0 10px;border-radius:15px; margin:0 6px 0 0; color:#737373;}
.event_info_s , .page_user_list{padding:0 10px 10px 10px;}
.event_info_c { font-size:16px; line-height:28px; padding:10px 0;}
.page_menu_tit { height:45px; line-height:45px; text-align:left; border-bottom:1px solid #3fcc84; color:#1abc9c; font-size:15px;}
.event_user_list ,.page_comment_list{ padding-bottom:15px;}
.page_comment_list { padding:0 10px;}
.event_user_list ul li { margin-top:15px;}
.event_user_list ul li img {border-radius:50%; float:left; width:50px; height:50px;}
.event_user_name ,.comment_u_name { color:#2578bf; margin-left:8px;}
.event_signup_time ,.comment_time ,.comment_z_no{ color:#b5b5b5;}
.page_comment_li { margin-top:10px; padding-bottom:10px; border-bottom:1px solid #e7e8e8;}
.page_comment_user img {border-radius:50%; float:left; width:30px; height:30px; margin-top:10px;}
.page_comment_li p { font-size:16px; line-height:22px;}
.comment_z_no { margin-top:3px;}
.page_user_list ,.page_comment_list ,.page_tit ,.author_info ,.event_info ,.event_info_s ,.aui-dialog ,.page_bottom_btn ,.form_group ,.sign_up_form{ background:#fff;}
.comment_box { border:1px solid #e7e8e8; color:#b2b2b2; padding:5px; margin-bottom:65px; cursor:pointer;}
.comment_dialog { height:40px; line-height:40px; text-align:center; color:#494949; background:#f8f8f8;}
.aui-dialog-body textarea { height:80px; border-bottom:1px solid ##e6e5e5; width:100%;}
.page_bottom_btn {z-index:800;position:fixed; left:0; bottom:0;width:100%;}
.page_btn { background:#3fcc84; cursor:pointer; width:150px;}
.page_Collection ,.page_share {width:20%; cursor:pointer;}
.page_Collection .Collection_icon ,.page_share .share_icon {width:30px; height:25px; line-height:25px; margin:0 auto;}
.page_Collection .Collection_icon {background-position:-32px 0 ;}
.page_share .share_icon {background-position:-66px 0 ;}
.page_share .share_f , .page_Collection .Collection_f { height:20px; line-height:20px; color:#9c9c9c; font-size:13px;}


.sign_up_close ,.sign_up_name ,.sign_up_Gender ,.sign_up_mob ,.sign_up_id ,.sign_up_pwd ,.sign_up_code { background:url("../images/sign_up_icon.png") no-repeat; background-size:25px 175px; width:25px; height:25px; line-height:25px; position:absolute; margin-left:10px; margin-top:14px;}
.sign_up_close {background-position:0 0 ; margin-right:10px; position:static; margin-top:0;}
.sign_up_name {background-position:0 -25px;}
.sign_up_Gender {background-position:0 -50px;}
.sign_up_mob {background-position:0 -75px;}
.sign_up_id {background-position:0 -100px;}
.sign_up_code {background-position:0 -123px;}
.sign_up_pwd {background-position:0 -150px;}
.form_group ul li { height:50px; line-height:50px; border-bottom:1px solid #e4e4e4; position:relative;}
.form_group ul li .login_text { border:none; width:85%; padding-left:40px; height:44px; line-height:44px;}
.form_group_btn { text-align:center;}
.form_group_btn button { background:#3fcc84; color:#fff; border:0; font-size:15px;border-radius:3px; width:96%; margin:0 auto; height:36px; line-height:36px;}

/*分享到*/


.am-share ,.am-sign-up { font-size: 14px; border-radius: 0; bottom: 0; left: 0; position: fixed; text-align: center; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); -webkit-transition: -webkit-transform 300ms; transition: transform 300ms ; width: 100%; z-index: 1110; overflow:hidden;}
.right_menu{ font-size: 14px; border-radius: 0; bottom: 0; left: 0; position: fixed; text-align: center; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); -webkit-transition: -webkit-transform 300ms; transition: transform 300ms ; width: 100%; z-index: 11100; }
.am-modal-active { transform: translateY(0px);  -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0) }
.am-modal-out { z-index: 1109; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%) }

.am-share-title { background-color: #f8f8f8; border-bottom: 1px solid #fff; border-top-left-radius: 2px; border-top-right-radius: 2px; color: #555; font-weight: 400; margin: 0 10px; padding: 10px 0 0; text-align: center; }
.am-share-title::after { border-bottom: 1px solid #dfdfdf; content: ""; display: block; height: 0; margin-top: 10px; width: 100%; }

.am-share-footer { margin: 10px; }
.am-share-footer .share_btn { color: #555;  display: block; width: 100%; background-color: #e6e6e6; border: 1px solid #e6e6e6; border-radius: 0; cursor: pointer;  font-size: 16px; font-weight: 400; line-height: 1.2; padding: 0.625em 0; text-align: center; transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s; vertical-align: middle; white-space: nowrap;font-family:"微软雅黑";  }

.am-share-sns { background-color: #f8f8f8; border-radius: 0 0 2px 2px; margin: 0 10px; padding-top: 15px; height:auto; zoom:1; overflow:auto; }

.am-share-sns li { margin-bottom: 15px; display: block; float: left; height: auto;  width: 25%; }

.am-share-sns a { color: #555; display: block; text-decoration:none; }
.am-share-sns span { display: block; }

.am-share-sns li i { background-image: url(../images/share_icon.png);background-repeat: no-repeat; background-size: 36px 144px; display: inline-block;  height: 36px; line-height: 36px; margin-bottom: 5px; width: 36px; }
.am-share-sns .share-icon-qq {background-position:0 0;}
.am-share-sns .share-icon-wx {background-position:0 -36px;}
.am-share-sns .share-icon-weibo {background-position:0 -72px;}
.am-share-sns .share-icon-wx2 {background-position:0 -108px;}

.sharebg { background-color: rgba(0, 0, 0, 0.6); bottom: 0; height: 100%; left: 0; opacity: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 1100; display:none; }
.sharebg-active { opacity: 1; display:block; }

@import url("aui.css");