 @charset "utf-8";   
.index_info_list ul li { height:100px; background:#fff; margin-top:10px; padding-left:120px; padding-top:15px;position:relative;}
.index_info_list ul li >a { float:left; margin-left:-120px;}
.index_info_list ul li img {width:120px; height:80px; margin:0 10px;}
.index_info_list ul li h3 a { display:block; height:48px; overflow:hidden; font-size:16px; font-weight:normal; padding-right:8px;}
.list_views ,.list_like ,.list_comment { display:block;width:20%; float:left;background: url(../images/list_icon.png) no-repeat;
    background-size: 20px 100px; height:22px; line-height:22px; margin-bottom:8px; padding-left:23px; color:#b4b3b3;}
.list_views {background-position:0 -20px;}
.list_like {background-position:0 -40px;}
.list_like2 {background-position:0 -60px;}
.list_comment {background-position:0 0;}
.index_list_author { color:#b4b3b3; height:22px; line-height:22px;}

.event_list_time ,.event_list_user {padding-left:22px; color:#b4b3b3; font-size:13px;}
.event_Label01 ,.event_Label02 ,.event_Label03 ,.event_Label04 {width:60px; line-height:22px; height:22px; color:#fff; position:absolute; right:10px; top:82px; font-size:12px;}
.event_Label01 { background:#c8c8c8;}
.event_Label02 { background:#ff901b;}
.event_Label03 { background:#3fcc84;}
.event_Label04 { background:#596f8a;}

 header , .page_header{ height:45px; line-height:45px;  text-align:center;position:relative;}
.page_header { background:#f9f9f9; border-bottom:#cbcbcb solid 1px;}
.page_name { color:#7a7a7a; font-size:16px; width:200px; margin:0 auto;}
.nav_back {background:url(../images/sicon.png) no-repeat; background-size:160px 30px; cursor:pointer;height:25px; width:30px; position: absolute; left:10px;top:10px;background-position:0 -5px;}