 @charset "utf-8";   
 header , .page_header{ height:45px; line-height:45px;  text-align:center;position:relative;}
.page_header { background:#f9f9f9; border-bottom:#cbcbcb solid 1px;}
.page_name { color:#7a7a7a; font-size:16px; width:200px; margin:0 auto;}
.nav_back {background:url(../images/sicon.png) no-repeat; background-size:160px 30px; cursor:pointer;height:25px; width:30px; position: absolute; left:10px;top:10px;background-position:0 -5px;}

.p_page_banner {background-position: center center;background-repeat: no-repeat;background-size: cover;border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box; height: 150px; overflow: hidden; position: relative;width: 100%;}
.p_title {background:transparent; width:90%; color:#fff; margin:0 auto; border:0; position:absolute; top:10px; left:10px; font-size:15px;text-shadow:2px 2px 2px #333333; height:40px; line-height:20px;}
.p_box { margin:8px; height:120px; background:#fff;border-radius:6px; border:1px solid #E0E0E0;position: relative;}
.p_img {width:90px; height:90px;background-position: center center;background-repeat: no-repeat;background-size: cover;box-sizing: border-box; margin:15px;}
.p_memo { font-size:15px;}
.p_add {width:30px; height:30px; line-height:30px;background:url(../images/add.png) no-repeat; background-size:30px 60px; margin:6px auto;background-position:0 0;}
.p_reduce ,.p_up ,.p_down {width:15px; height:15px; background:url(../images/add.png) no-repeat; background-size:30px 60px; position:absolute; }
.p_reduce {top:0px; left:0px;background-position:0 -30px;}
.p_up { height:7px;top:5px; right:5px;background-position:0 -44px;}
.p_down {bottom:0px; right:5px;background-position:0 -53px;}
.p_sign_up { background:#fff;border-radius:6px; border:1px solid #E0E0E0; height:35px; line-height:35px; margin:6px auto;}