 @charset "utf-8";  
 header , .user_header{ height:45px; line-height:45px;  text-align:center;position:relative;}
  .page_name { color:#fff; font-size:16px; width:200px; margin:0 auto;}
.nav_back {background:url(../images/sicon.png) no-repeat; background-size:160px 30px; cursor:pointer;height:25px; width:30px; position: absolute; left:10px;top:10px;background-position:-135px -5px;}
.user_header {background: url(../images/user_bg.jpg); height: 250px;}


.user_info ,.user_face { margin:0 auto;width:200px;height:100px;} 
.user_info { margin-top:30px;}
.user_info .user_face img{ width:90px; height:90px;border-radius: 50%; margin:0 auto; text-align:center; border:4px solid #fff;box-shadow:2px 2px 2px #333333; }
.page_user_name ,.page_user_about  { font-size:20px; height:40px; line-height:40px;text-shadow:2px 2px 2px #333333; color:#fff;}
.page_user_about  { font-size:16px; height:20px; line-height:20px;}
.page_info_list { background:#fff;}
.page_info_list ul li { height:50px; line-height:50px;border-bottom:1px solid #ebeced; margin:0 5px; font-size:14px;padding-left:50px;}
.info01 ,.info02 ,.info03 ,.info04 {background:url(../images/user.png) no-repeat;background-size:50px 250px}
.info01 { background-position:0 0; }
.info02 { background-position:0 -50px; }
.info03 { background-position:0 -100px; }
.info04 { background-position:0 -150px; }
.page_info_list ul li em { float:right;width:50px; height:45px; line-height:45px; display:block; color:#b2b2b2;background:url(../images/user.png) no-repeat top left;background-size:40px 200px;background-position:0 -155px;}
.logout a { width:96%; height:45px; line-height:45px; background:#3fcc84; color:#fff; font-size:18px; margin:0 auto;border-radius: 4px;}
.logout a:visited {color:#fff;}

