<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>会员登录-河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="css/base.css"/>
<link type="text/css" rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/framework7.ios.css">
<link rel="stylesheet" href="css/framework7.ios.colors.css">
<link rel="stylesheet" href="css/my-app.css">
	<link rel="stylesheet" href="css/toast.css" />
	<script data-main="js/index" src="lib/require-min.js" ></script>
</head>

<body>
<div class="views" style="background: #fff;">
	<div class="view view-main">
		<div class="pages">
			<div data-page="login" class="page">
				<div class="page-content" id="login" style="background: #fff;">
<header class="page_header">
<a href="index.html" class="nav_back back"></a>
    <h1 class="page_name">会员登录</h1>  
</header>






<div class="page_w bg-ff " style="height: 100%; background: #fff;">


	<div class="list-block" style="margin-top: 40px;">
		<ul>
			<li>
				<div class="item-content">
					<div class="item-inner">
						<div class="item-input">
							<input style="-webkit-user-select:auto;" type="tel" placeholder="账号" v-model="account">
						</div>
					</div>
				</div>
			</li>

			<li>
				<div class="item-content">
					<div class="item-inner">
						<div class="item-input">
							<input style="-webkit-user-select:auto;" type="password" placeholder="密码" v-model="pass">
						</div>
					</div>
				</div>
			</li>

		</ul>

	</div>


	<a href="#" @click="doLogin(0)" class="button button-big" style="margin-top: 50px;margin-left: 12px;margin-right: 12px;">登录 </a>



	<div class="login_icon" style="margin-top: -80px;">
<ul>
<li><a href="#" @click="doLogin(1)"><span class="wx_login_icon db"></span><span class="login_font db">QQ登录</span></a></li>
<li><a href="#" @click="doLogin(2)"><span class="qq_login_icon db"></span><span class="login_font db">微信登录</span></a></li>
</ul>
<div class="clear"></div>
</div>



	
</div>


				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
