<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>发布信息-河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="css/base.css?v=1.0.0"/>
<link rel="stylesheet" type="text/css" href="css/index.css?v=1.0.0"/>
<link rel="stylesheet" href="css/framework7.ios.css?v=1.0.0">
<link rel="stylesheet" href="css/framework7.ios.colors.css?v=1.0.0">
<link rel="stylesheet" href="css/my-app.css?v=1.0.0">

	<script data-main="js/index.js?v=1.0.0" src="lib/require-min.js?v=1.0.0" ></script>

</head>

<body>
<div class="views">
	<div class="view view-main">
		<div class="pages">
			<div data-page="publish" class="page">
				<div class="page-content" id="publish">

<header class="page_header">
<a href="index.html" class="nav_back back"></a>
    <h1 class="page_name">编辑</h1>  
</header>




<div class="page_w">

	<form id="coverform">
		<input id="cover" type="file" name="file" @change="coverChange($event)" hidden="true"/>
	</form>

<div class="p_page_banner" :style="'background-image: url('+cover+');'">
<textarea id="mtitle" name="title" class="p_title" placeholder="点击设置标题" v-model="title"></textarea>
	<a href="javascript:;" class="file p_up_img" @click="chooseCover" @touchend="chooseCover">
	</a>
</div>


	<form id="mform">
		<input id="mfile"
			   multiple="multiple"
			   type="file"
			   name="file[]"
			   @change="imgChange($event)"
			   hidden="true" />

	</form>

	<form id="form">
		<input id="file"
			   type="file"
			   name="file[]"
			   @change="imgChange($event)"
			   hidden="true"
		/>
	</form>

<div v-for="(item,index) in list">
<div class="p_add" :id="'p_add'+index" @click="addclick(index)"></div>
<div :id="'p_upload_class'+index" style=" height:32px; line-height:32px;display:none; padding-top:6px;">

<div class="p_upload_class" >
	<a href="#" class="p_up_words db" @click="showTxtEdit(index,true)">
		文字信息
	</a>
	<a href="#" class="p_up_photo db" @click="chooseimg(index,true)" @touchend="chooseimg(index,true)">
		图片信息
	</a>
	<div class="cl"></div>
</div>

</div>
<div class="p_box">

	<div class="p_img fl" :style="'background-image: url('+item.img+');'" @click="chooseimg(index,false)" @touchend="chooseimg(index,false)">
	</div>

	<textarea style="background:transparent;border-style:none;" readonly="readonly" class="p_memo fl mt15" @click="showTxtEdit(index,false,item.txt)" v-html="item.txt" placeholder="点击这里输入照片说明">
		
	</textarea>

	<div class="cl"></div>
    <div class="p_reduce" @click="clip(index)"></div>
    <div class="p_down" @click="movedown(index)"></div>
</div>
</div>



<!--<div class="p_add"></div>-->
<!--<div class="p_box"><div class="p_img fl" style="background-image: url(http://static2.ivwen.com/user/7224114/c75747eb2c500001204e135077f080c0.jpg);"></div><div class="p_memo fl mt15">点击这里输入照片说明</div><div class="cl"></div>-->
<!--<div class="p_reduce"></div><div class="p_up"></div>-->
<!--</div>-->
<!--<div class="p_add"></div>-->


	<div class="p_c_class">
		<input v-model="cname" type="text" placeholder="请选择分类" readonly id="picker-device" />
	</div>

	<div class="p_sign_up tc list-block" style="position: relative; margin: 6px 8px;height: 40px;line-height: 39px;">
		添加报名
		<li  style="position: absolute; top:-3px;width: 100%;line-height: 40px;">
		<label class="label-checkbox item-content" id="p_sign_up">
			<input @change="showActivity"  type="checkbox" id="ckbox" name="my-checkbox" value="yes" v-model="isactity">
			<div class="item-media">
				<i class="icon icon-form-checkbox" ></i>
			</div>
		</label>
	</li>
	</div>


<div class="p_form_li bg-ff mt10" id="p_form_li" :style="'display:'+astyle">
<ul>
<li>开始时间
	<input class="sign_input" readonly id="calendar-stime" type="text"  name="s_time"  placeholder="请设置开始时间" />
</li>
<li>结束时间
	<input class="sign_input" readonly id="calendar-etime" type="text"  name="e_time"  placeholder="请设置开始时间" />
</li>

<li>活动地点
	<input v-model="address" type="text" id="address" name="address" class="sign_input" placeholder="请输入活动地点" >
</li>


	<li>活动费用
	<input class="sign_input" type="number"  id="price" v-model="price" name="price"  placeholder="请设置活动费用" />
</li>

<li>人数限制
	<input class="sign_input" type="number"  id="num" v-model="a_number" name="a_number"  placeholder="请设置最多报名人数"/>
</li>

<!--<li style="height:106px; line-height:30px;">活动标签<span><em id="em01">骑行</em><em id="em02">徒步</em><em id="em03">滑雪</em><em id="em04">骑行</em><em id="em05">徒步</em><em id="em06">滑雪</em><em id="em07">骑行</em><em id="em08">徒步</em><em id="em09">滑雪</em><em id="em10">骑行</em><em id="em11">徒步</em><em id="em12">滑雪</em><div class="cl"></div></span></li>-->
</ul>
</div>
<div class="p_div">
	<div class="p_button tc" @click="doSubmit">
		提交发布
	</div>
</div>



</div>


</div>


				<div class="popup popup_a" style="background: #fff" id="txtinput">

					<div class="box-filter-hd">请输入内容<a href="#" class="ico-close db close-popup"></a></div>
					<div style="margin:15px;">
<textarea class="p_content" style="height: auto;min-height: 300px;" placeholder="请输入内容" v-model="edittxt">
</textarea>
					</div>
					<div style="width:100%; margin:0 auto; max-width:640px;position:fixed; bottom:0;">
						<div class="p_div">
							<div class="p_button_b tc" @click="txteditend">
								确定
							</div>
						</div>
					</div>
				</div>


				</div>
			</div>
		</div>
	</div>

</body>
</html>
