<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>会员活动列表-河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="css/base.css"/>
<link type="text/css" rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/framework7.ios.css">
<link rel="stylesheet" href="css/framework7.ios.colors.css">
<link rel="stylesheet" href="css/my-app.css">

	<script data-main="js/index.js?v=1.0.1" src="lib/require-min.js?v=1.0.0" ></script>
</head>

<body>
<div class="views">
	<div class="view view-main">
		<div class="pages">
			<div data-page="user_info_list" class="page">
				<div class="page-content" id="user_info_list">
<header class="user_header">
<div class="h45">
<a href="index.html" class="nav_back fl h45 db back"></a>
</div>
<div class="user_info">
<span class="user_face db tc"><img :src="info.headimage"></span>
<span class="page_user_name db tc" v-html="info.nickname"></span>

</div>
</header>



<div class="page_w">

	<div class="index_info_list">

		<ul>
			<li v-for="item in list">
				<a :href="'info.html?id='+item.id"><img :src="item.url" border="0"></a>
				<h3><a :href="'info.html?id='+item.id" v-html="item.title"></a></h3>
				<span class="index_list_author f14">发布人：<span v-html="item.nickname"></span></span>
				<div><span class="list_views" v-html="item.view"></span></div>
			</li>
		</ul>

	</div>


	<div class="xgrid">
		<div class="col-100" style="padding: 12px;">
			<img src="images/loadding.gif" width="25" height="25" v-if="!end">
			<span class="fl" v-html="msg"></span>
		</div>
		<div class="clear"></div>
	</div>


<!--<footer class="b_menu">-->
<!--<a href=""><span class="b_icon01_current db"></span><em class="current_menu">活动</em></a>-->
<!--<a href=""><span class="b_icon02 db"></span><em>发布</em></a>-->
<!--<a href=""><span class="b_icon03 db"></span><em>我的</em></a>-->
<!--</footer>-->
</div>
</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
