<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>会员资料编辑-河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="css/base.css"/>
<link type="text/css" rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/framework7.ios.css">
<link rel="stylesheet" href="css/framework7.ios.colors.css">
<link rel="stylesheet" href="css/my-app.css">
	<script data-main="js/index" src="lib/require-min.js" ></script>
</head>

<body>
<div class="views">
	<div class="view view-main">
		<div class="pages">
			<div data-page="user_edit_info" class="page">
				<div class="page-content" id="user_edit_info">

<header class="page_header">
<a href="user_index.html" class="nav_back back"></a>
    <h1 class="page_name">编辑资料</h1>
</header>

<div class="page_w">
<div class="edit_info_list">

	<form id="uploadHead">
	<input id="file" type="file" name="file" @change="fileChange($event)" hidden="true" />
	</form>

<ul>

<li style="height:90px; line-height:90px;" @touchend="choosehead">
	头像<em></em>
	<img :src="headimg">

</li>

<li>昵称
	<input type="text" v-model="nickname" id="user_name" class="edit_input" placeholder="请输入昵称" >
</li>

<li>
	<span class="db fl" style="">
		性别
	</span>
	<span class="db fr" style="width:140px; height:40px;">
		<input class="a_radio" type="radio" name="a_radio" value="0" v-model="sex">
		<div class="radio_name fl">男</div>
		<input class="a_radio" type="radio" value="1" v-model="sex" name="a_radio">
		<div class="radio_name fl">女</div>
	</span>
</li>

	<li>
	出生年月
	<span>
	<input value="" class="edit_input" readonly id="calendar-default" type="text" placeholder="2016-01-01" >
	</span>
	</li>


<li class="page-current" id="page-city-picker">
	地区
	<span>
	<input type="text" readonly id="picker-dependent" placeholder="城市选择" class="edit_input">
	</span>
</li>

</ul>
</div>


	<a href="#" @click="doSubmit()" class="button button-big button-fill" style="background: #3fcc84;margin: 20px 12px 12px 12px;">提交修改</a>



</div>




</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
