<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>会员活动列表-河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="css/base.css"/>
<link type="text/css" rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/framework7.ios.min.css">
<link rel="stylesheet" href="css/framework7.ios.colors.min.css">
<link rel="stylesheet" href="css/my-app.css">

	<script data-main="js/index" src="lib/require-min.js" ></script>

</head>

<body>
<div class="views">
	<div class="view view-main">
		<div class="pages navbar-through toolbar-through">
			<div data-page="user_info_list2" class="page">
				<div class="page-content" id="user_info_list2">

<header class="page_header">
<a href="index.html" class="nav_back back"></a>
    <h1 class="page_name" v-html="pagetitle"></h1>
</header>
<div class="page_w">

<div class="index_info_list">
<ul>
<li v-for="item in list">
<a :href="'info.html?id='+item.id"><img :src="item.url" border="0"></a>
<h3><a :href="'info.html?id='+item.id"><span v-html="item.title"></span></a></h3>
<div class="event_list_time">时间：<span v-html="item.timestr"></span></div>

</li>


</ul>
</div>

	<div class="page_load" id="page_load">
	<span class="fl" style="margin-top:6px;" v-if="!end">
		<img src="images/loadding.gif" width="25" height="25">
	</span>
		<span class="fl" v-html="msg"></span>
		<div class="clear"></div>
	</div>



<div class="bb_bg"></div>

</div>
</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
